{% extends 'base.html.twig' %}

{% block title %}Hello PageController!
{% endblock %}

{% block body %}
	{# contact est le nom de la clé dans PageController #}
	<div class="m-auto col-4 border rounded bg-light p-3">
		{{ form_start(contact) }}
		<div class="mb-3">
			{{ form_label(contact.name) }}

			<div class="input-group">
				<span class="input-group-text" id="basic-addon1">
					<i class="bi bi-person"></i>
				</span>
				{{ form_widget(contact.name,
                {
                    attr:{
                        class:'form-control'
                    }
                    },
                    ) }}
				{# on place des classes css sur l'input #}

			</div>
			{# C'est la fin de la div input group #}
		</div>

		<div class="mb-3">
			{{ form_label(contact.email) }}

			<div class="input-group">
				<span class="input-group-text" id="basic-addon1">
					<i class="bi bi-envelope-at"></i>
				</span>
				{{ form_widget(contact.email,
                {
                    attr:{
                        class:'form-control'
                    }
                    },
                    ) }}
				{# on place des classes css sur l'input #}

			</div>
			{# C'est la fin de la div input group #}
		</div>

		{# emplacement pour le select #}
		<div class="mb-3">
			{{ form_label(contact.sujet) }}
			{{ form_widget(contact.sujet, {
                    attr: {class: 'form-select'},
                }) 
                }}
		</div>


		{# fin de l'emplacement pour le select #}


		<div class="mb-3">
			{{ form_label(contact.message) }}

			<div class="input-group">
				<span class="input-group-text" id="basic-addon1">
					<i class="bi bi-chat-left-text"></i>
				</span>
				{{ form_widget(contact.message,
                {
                    attr:{
                        class:'form-control'
                    }
                    },
                    ) }}
				{# on place des classes css sur l'input #}

			</div>
			{# C'est la fin de la div input group #}
		</div>

		<div class="form-check mb-3">
			<input type="checkbox" class="form-check-input" name="consent" id="form-check">
			<label for="form-check-label">J'accepte d'être recontacté(e)</label>
		</div>

		<button type="submit" class="btn btn-dark">
			Envoyer
		</button>


		{{ form_end(contact) }}
	</div>

	{#
	    <div class="input-group mb-3">
	  <span class="input-group-text" id="basic-addon1">@</span>
	  <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
	</div>
	
	    #}

{% endblock %}
